# Temp files
*~
*.bak
*.backup
\#*
.\#*

# OS specific useless files
Thumbs.db
.DS_Store
__MACOSX/

# Others
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
/build
app/manifest-merger-release-report.txt
app/*.apk
*.class

# User-specific configurations
.idea/libraries/
.idea/workspace.xml
.idea/tasks.xml
.idea/.name
.idea/compiler.xml
.idea/copyright/profiles_settings.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/scopes/scope_settings.xml
.idea/vcs.xml
*.im


# OS-specific files
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
