<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catchingnow.tinyclipboardmanager" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

<!--     <uses-permission android:name="android.permission.VIBRATE" /> -->
    <application
        android:allowBackup="true"
        android:backupAgent=".GoogleBackupAgent"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAImD2xzM1mjVqrMOV7G1_ccLkNvpmbu8KPJ5XeJg" />

        <service
            android:name=".CBWatcherService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.catchingnow.tinyclipboardmanager.CBWatcherService" />
            </intent-filter>
        </service>
        <service
            android:name=".SyncJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".LaunchServiceAtStartup"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ClipObjectActionBridge"
            android:exported="false" />

        <activity
            android:name=".ActivityMain"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityMainDialog"
            android:excludeFromRecents="true"
            android:label="@string/title_activity_main"
            android:launchMode="singleInstance"
            android:documentLaunchMode="intoExisting"
            android:theme="@style/AppDialogTheme" >
        </activity>
        <activity
            android:name=".ActivitySetting"
            android:label="@string/title_activity_activity_setting"
            android:theme="@style/AppTheme">

            <!-- android:documentLaunchMode="intoExisting" -->
            <!-- android:parentActivityName=".ActivityMain" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityEditor"
            android:documentLaunchMode="always"
            android:label="@string/title_activity_activity_get_share_text"
            android:maxRecents="1"
            android:theme="@style/AppDialogWhenLargeTheme" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityBackup"
            android:label="@string/title_activity_backup"
            android:parentActivityName=".ActivityMain"
            android:theme="@style/AppDialogWhenLargeTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.catchingnow.tinyclipboardmanager.ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityBackupNew"
            android:label="@string/title_activity_new_backup"
            android:parentActivityName=".ActivityBackup"
            android:theme="@style/AppDialogWhenLargeTheme" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.catchingnow.tinyclipboardmanager.ActivityBackup" />
        </activity>

        <receiver android:name=".AppWidget" >
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/app_widget_info" />
        </receiver>

        <service
            android:name=".AppWidgetService"
            android:exported="false"
            android:permission="android.permission.BIND_REMOTEVIEWS" />
        <service
            android:name=".FloatingWindowService"
            android:enabled="true"
            android:exported="true" >
        </service>
        <service
            android:name=".ExperienceEnhanceService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>
