<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.catchingnow.tinyclipboardmanager" >

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:backupAgent=".BackupAgent"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAImD2xzM1mjVqrMOV7G1_ccLkNvpmbu8KPJ5XeJg" />

        <service
            android:name=".CBWatcherService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.catchingnow.tinyclipboardmanager.CBWatcherService" />
            </intent-filter>
        </service>
        <service
            android:name=".SyncJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver
            android:name=".LaunchServiceAtStartup"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <service
            android:name=".ClipObjectActionBridge"
            android:exported="false" />

        <activity
            android:name=".ActivityMain"
            android:label="@string/title_activity_main"
            android:launchMode="singleTop" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivitySetting"
            android:label="@string/title_activity_activity_setting"
            android:theme="@style/Theme.Settings" >

            <!-- android:documentLaunchMode="intoExisting" -->
            <!-- android:parentActivityName=".ActivityMain" -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.NOTIFICATION_PREFERENCES" />
            </intent-filter>

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityEditor"
            android:documentLaunchMode="intoExisting"
            android:label="@string/title_activity_activity_get_share_text"
            android:maxRecents="1" >
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="text/plain" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityBackup"
            android:label="@string/title_activity_backup"
            android:parentActivityName=".ActivityMain" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.catchingnow.tinyclipboardmanager.ActivityMain" />
        </activity>
        <activity
            android:name=".ActivityBackupNew"
            android:label="@string/title_activity_new_backup"
            android:parentActivityName=".ActivityBackup" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.catchingnow.tinyclipboardmanager.ActivityBackup" />
        </activity>
    </application>

</manifest>
